{% extends 'layout.html' %}

{% block body %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
<!--         <h1>Update account</h1>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST">
        <dl>
            {{ render_field(form.username)}}
        </dl>
        <dl>
            {{ render_field(form.email) }}
        </dl>
        <p><input type=submit value=Update></p>
        </form> -->
    </div>
{% endblock %}